.authContainer {
    display: flex;
    /* Устанавливаем flexbox */
    flex-direction: column;
    /* Устанавливаем направление элементов в столбец */
    justify-content: center;
    /* Выравниваем элементы по вертикали по центру */
    align-items: center;
    /* Выравниваем элементы по горизонтали по центру */
    background-color: #ebead8;
    /* Задаем цвет фона */
    height: 100vh;
    /* Устанавливаем высоту контейнера на всю высоту видимой области */
}